/* Created by Tim Garvin
Copyright © 2017 Tim Garvin */

/* Home page Style */

/* Main Content Styles */
#main-content
{
    display: inline-flex;
    justify-content: space-between;
}

#current-content
{
    width: 58%;
}

/* Bulleted List Styles */
.bulleted-list
{
    margin-top: 1.2%;
    margin-bottom: 1.2%;
}

.bulleted-list ul
{
    margin-top: 0.2%;
    margin-bottom: 1.2%;
}

.bulleted-list li
{
    color: dodgerblue;
    text-align: left;
}

.bulleted-list li p
{
    color: white;
}